@import "variables";

// BASE PAGE STYLES

html {
  background: transparent;
  box-sizing: border-box;
  color: $star-wars-yellow;
  font-family: $main-font;
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
  body {
    background: $black;
    min-height: 100%;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative;
    footer {
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      letter-spacing: 2px;
      padding: 14px 0;
      position: absolute;
      right: 0;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      box-sizing: border-box;
      margin-top: 0;
    }
  }
}

// BASE ELEMENT STYLES

div,
header,
main,
footer,
form,
label,
input,
select,
button,
button:hover,
button:active,
button:focus {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
select {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: $star-wars-yellow;
  letter-spacing: 1px;
  line-height: 1.3;
  padding: 8px;
  width: 100%;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: change-color($black, $lightness: 100%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: $star-wars-yellow;
  border: 2px solid $star-wars-yellow;
  border-radius: 4px;
  color: $black;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: normal;
  margin: 0 6px;
  padding: 6px 8px;
  width: auto;
  &:hover {
    background: transparent;
    color: $star-wars-yellow;
    text-decoration: none;
  }
}

.button-group {
  display: flex;
  justify-content: center;
}

.select-wrapper {
  border: 1px solid $star-wars-yellow;
  position: relative;
  &:after {
    content: "\f0dc";
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.select-wrapper select {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: inherit;
  color: inherit;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}

.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px;
}

// SPECIFIC ELEMENT STYLES

.info-message {
  background: change-color($info-blue, $lightness: 95%);
  border: 1px solid change-color($info-blue, $lightness: 90%);
  color: $info-blue;
}

noscript .info-message {
  left: 50%;
  margin: 0 auto;
  min-width: 280px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}